.main-wrapper {
  width: 100%;
}

.todo-list-wrapper {
  width: 600px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .todo-list-wrapper {
    width: 95%;
  }
}

.todo-list-input-wrapper {
  width: 100%;
  margin-bottom: 10px;
}

.todo-list-switch-wrapper {
  margin-bottom: 10px;
}

.todo-list-switch-button {
  border: 0;
  background-color: transparent;
  transition: all 1s linear;
}

.active-switch-button {
  background-color: blue;
}

.todo-wrapper {
  padding: 10px;
}

.active-button {
  background: black;
}
