.todo-item-wrapper {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;

  align-items: center;

  width: 100%;
  min-height: 50px;

  border: 0;
  border-radius: 10px;
  background: #ffffff;

  padding: 5px 0px;

  font-family: 'Roboto';
  font-size: 16px;
}

.todo-item-delete {
  background: transparent;
  border: 0;
}

.todo-item-description-wrapper {
  width: 80%;
  flex-grow: 1;
}

.todo-item-description {
  max-width: 80%;
  word-wrap: break-word;
  text-decoration: none;
}

.todo-item-description.completed {
  text-decoration: line-through;
}
